@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

:root {
  --font-sans: system-ui, -apple-system, 'Segoe UI', 'PingFang SC',
    'Microsoft YaHei', 'Noto Sans SC', 'Source Han Sans SC', Roboto, sans-serif;
}

body {
  font-family: var(--font-sans);
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
